<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="L'Applicazione web di CGT Edilizia per la configurazione di macchine e attrezzature Caterpillar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#AE0E0E" />
    <title>CONFIGURATORE CGT EDILIZIA</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#AE0E0E">
    <meta name="apple-mobile-web-app-title" content="Configuratore Cat">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/ios-desktop.png">

    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/css/dialog-polyfill.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <link href="/css/style.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <link href="/css/material.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <link href="/css/material.currency.plugin.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
</head>
<body>
    <div class="cgt-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header id="header" class="cgt-header mdl-layout__header"></header>
        <div id="menu" class="cgt-drawer mdl-layout__drawer "></div>
        <main id="main" class="mdl-layout__content"></main>
    </div>
    <div id="errors" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <div id="modal"></div>
    <script src="/assets/vendor/dialog-polyfill.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="/assets/vendor/polyfills.min.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="/assets/vendor/material.min.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="/assets/vendor/material.currency.plugin.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="/assets/vendor/xlsx.min.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="/{{ htmlWebpackPlugin.files.chunks.system.entry }}"></script>
</body>
</html>
